<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComputerRoommate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5A699CE1C535B9400C3E158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5A699DF1C535B9400C3E158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5A699EA1C535B9400C3E158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
